{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Checklist</title>
{% endblock title %}

{% block main_content %}
<h1>All Categories With Livestocks</h1>
<div class="container">
    <div class="row justify-content-around">
        {% for i in categories %}
        <h1>{{i.category_name}}</h1>
          <div class="livestock_image">
       <img src="/{{i.category_image}}" width="200"/>
            </div>
        {% for j in i.livestock_set.all %}
        <div class="checklist-items d-flex justify-content-between">
            <div class="livestock_name">
                <p><strong>{{j.livestock_name}}</strong></p>
            </div>
            <div class="livestock_price">
                <strong>Rs. {{j.livestock_price }}</strong>
            </div>

        </div>
        {% endfor %}

        {% endfor %}
    </div>
</div>
{% endblock main_content %}