{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Livestocks</title>
{% endblock title %}

{% block main_content %}
<h1>All Livestocks</h1>
<div class="container">
    <div class="row justify-content-around">
        {% include 'messages.html' %}
        {% for i in livestocks %}
        <div class="card col-md-3 m-3">
            <img src="/{{i.livestock_image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{i.livestock_name}}</h5>
                <p class="card-text">Rs. {{i.livestock_price}}</p>
                <p class="card-text">{{i.category.category_name}}</p>
                <a href="/livestocks/add_to_cart/{{i.id}}" class="btn btn-primary"
                onclick="return confirm('Are you sure want to add this item to cart?')">Add to Cart</a>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock main_content %}