{% extends 'layout-admin.html' %}
{% block title %}
<title>All Orders</title>
{% endblock%}

{% block main_content %}
<div class="container">
    <div class="row">

        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">All Orders</h1>
            <div class="card p-2">
               {% include 'admins/messages.html' %}

                <table class="table-striped">
                    <tr>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Ordered Date</th>
                        <th>Contact No</th>
                        <th>Delivery Location</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    {% for items in orders %}
                    <tr>
                        <td>{{items.quantity}}</td>
                        <td>{{items.total_price}}</td>
                        <td>{{items.created_date}}</td>
                        <td>{{items.contact_no}}</td>
                        <td>{{items.contact_address}}</td>
                        <td>{{items.status}}</td>
                        <td><a class="btn btn-primary btn-sm"
                               href="/admins/delete_order/">Delete Order</a> &nbsp;
                            </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
