<div class="container-fluid p-5 bg-primary text-white mt-5">
    <div class="row justify-content-center pb-5">
        <div class="first col-md-3">
            <h4>Contacts</h4>
            <ul class="List-unstyled">
                <li> <h4>Phone No: 9876543245</h4></li>
                <li><h4>Location: Pepsicola, ktm</h4></li>
            </ul>

        </div>
        <div class="second col-md-3">
            <h4>Payments Method</h4>
            <ul class="list-unstyled">
                <li><i class="fab fa-cc-visa fa-4x"></i></li>
                <li><i class="fab fa-cc-mastercard fa-4x"></i></li>
            </ul>
        </div>

        <div class="third col-md-3">
            <h4>Follow Us</h4>
            <ul class="list-unstyled ">
                <li><i class="fab fa-facebook-square fa-2x"></i></li>
                <li><i class="fab fa-instagram fa-2x"></i></li>
                <li><i class="fab fa-twitter fa-2x"></i></li>
            </ul>
        </div>
    </div>
</div>
